.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sandwich {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
}

.bun {
  width: 100%;
  height: 85px;
  border-radius: 100px;
  background-color: #ffcc8f;
}

.lettuce {
  width: 100%;
  height: 5rem;
}

.tomatoes {
  display: flex;
  text-align: center;
  width: 100%;
}

#tomato {
  background-color: tomato;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.sauce {
  width: 70%;
  background-color: #990000;
  border-radius: 15px;
}

.protein {
  width: 85%;
  height: 80px;
  background-color: chocolate;
  border-radius: 50px;
}

.cheese {
  width: 100%;
  background-color: #ffc54d;
}

.ingredient {
  width: 300px;
  height: 300px;
  background-color: #f7e2d6;
}
